```zsh
> neofetch
```

<img align="left" src="https://imgs.search.brave.com/Hnk4oGAVmpLAeZ9zIVBk3qy6wcpDORMmw7pPgvVUV8o/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9pLm5h/dGdlb2ZlLmNvbS9u/LzU0ODQ2N2Q4LWM1/ZjEtNDU1MS05ZjU4/LTY4MTdhOGQyYzQ1/ZS9OYXRpb25hbEdl/b2dyYXBoaWNfMjU3/MjE4Ny5qcGc_dz0z/NzQmaD0yNTA" alt="cat" width="320" /> 

```csharp
justqnoo@github
-------------------------
OS: Windows 10 / MacOS
Pronouns: He/Him
Location: United States
Languages: JavaScript,
           HTML, CSS
Hobbies: Gaming & Coding
Commits: {{ totalCommitsInPastYear }}
Stars: {{ totalStars }}
Discord: mrdavidss
```
<p align="left">
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  {{ #colors }}<img alt="#{{.}}" src="https://via.placeholder.com/15/{{.}}/000000?text=+" width="25" height="20" />{{ /colors }}
</p>
